.player-container {
  background: rgb(96, 97, 97);
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: -6px;
}

.player-container button {
  margin: 6px auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(240, 240, 240);
}

.container {
  height: 50px;
}

button {
  margin: 30px auto;
  color: black;
}

.video {
  display: none;
}

.play {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 40px;
  height: 32px;
}

.play::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 62px;
  height: 10px;
  border-top: 8px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 25px solid;
  top: 10px;
}

.pause {
  box-sizing: border-box;
  width: 100px;
  height: 20px;
  position: relative;
}

.pause::before {
  display: block;
  width: 38%;
  content: "";
  background-color: rgb(121, 116, 116);
  height: 38%;
  position: absolute;
  top: 10px;
  left: 11px;
}
